@charset 'utf-8';

// color palettes
$blue-main: #2D8cF0;
$blue-1: $blue-main; // #f0f9ff
$blue-2: $blue-main; // #c9e7ff
$blue-3: $blue-main; // #a1d1ff
$blue-4: $blue-main; // #78b9ff
$blue-5: $blue-main; // #4f9eff
$blue-6: $blue-main;
$blue-7: $blue-main; // #1660d9
$blue-8: $blue-main; // #0944b3
$blue-9: $blue-main; // #002c8c
$blue-10: $blue-main; // #001d66

$red-main: #ed4014;
$red-1: $red-main; // #fff5f0
$red-2: $red-main; // #ffe5d9
$red-3: $red-main; // #ffc6b0
$red-4: $red-main; // #ffa587
$red-5: $red-main; // #ff815e
$red-6: $red-main;
$red-7: $red-main; // #cc3a21
$red-8: $red-main; // #a62312
$red-9: $red-main; // #801208
$red-10: $red-main; // #590904

$green-main: #83ce3f;
$green-1: $green-main; // #f0fff9
$green-2: $green-main; // #f0fffa
$green-3: $green-main; // #d4fff1
$green-4: $green-main; // #a9fce5
$green-5: $green-main; // #7af0d2
$green-6: $green-main;
$green-7: $green-main; // #39bda4
$green-8: $green-main; // #269686
$green-9: $green-main; // #167066
$green-10: $green-main; // #0e4a45

$warn-main: #f27a24;
$warn-1: $warn-main; // #fff9f0
$warn-2: $warn-main; // #ffe7c9
$warn-3: $warn-main; // #ffd1a1
$warn-4: $warn-main; // #ffb978
$warn-5: $warn-main; // #ff9e4f
$warn-6: $warn-main;
$warn-7: $warn-main; // #cc5b14
$warn-8: $warn-main; // #a63f08
$warn-9: $warn-main; // #802800
$warn-10: $warn-main; // #591900

$purple-main: #873BF4;
$purple-1: $purple-main;
$purple-2: $purple-main;
$purple-3: $purple-main;
$purple-4: $purple-main;
$purple-5: $purple-main;
$purple-6: $purple-main;
$purple-7: $purple-main;
$purple-8: $purple-main;
$purple-9: $purple-main;
$purple-10: $purple-main;
