@import 'colors';

$color-white: #fff;
$color-black: #000;
$color-gray: #90a0ae;
$color-dark: #262c33;
$color-red: #ed4014;
$color-lightblue: #E7EFF2;
$color-teal: teal;

$color-primary: $color-teal;
$color-success: $green-6;
$color-warning: $warn-6;
$color-error: $red-6;
$color-info: $color-gray;
$color-bg: $color-lightblue;
